
/* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */

@font-face {
    font-family: newf;
    src: url(./../fonts/MrGrieves-Regular.otf);
}
.icon-bar {
    position: fixed;
    top: 85%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  /* Style the icon bar links */
  .icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
  }
  
  /* Style the social media icons with color, if you want */
  .icon-bar a:hover {
    background-color: orangered;
  }
  
  .facebook {
    background: #000;
    color: white;
  }
  
  /* .twitter {
    background: #55ACEE;
    color: white;
  } */
  
  .google {
    background: #dd4b39;
    color: white;
  }
  
  .linkedin {
    background: #007bb5;
    color: white;
  }
  
  /* .youtube {
    background: #bb0000;
    color: white;
  } */


  /* //footer  */
.foot{
    width: 100%;
    height: 450px;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  
  }
  
  .moreinfo{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    margin: 10px;
  }
  
  .ct {
    color: #dd4b39;
    text-align: center;
    text-decoration: none;
  }
  /* ////////////////  */

  .c{
    color: orangered;
  
  }

  .menyItem{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    /* height: 10; */
    /* height: max-content; */
    /* background-image: url(./../images/designMenu.svg); */
  }
  
  .ctr{
    text-decoration: none;
    color: #dd4b39;
    letter-spacing: 2px;
    font-size: 21px;
    text-align: center;
    margin-top: 15px;
    
  }
  
  .avtaer{
    width: 100%;
    height: 120px;
  }

  .stay {
    color: #dd4b39;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 23px;
  }
  
  .heads{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin: 1px;
    letter-spacing: 2px;
   
  
  }
  .navs{
    position: sticky;
    top: 10px;
    left: 10px;
    margin: 10px 10px;
    font-size: 30px;
    cursor: pointer;
    z-index: 9;
}  


.maincontent{
    background-image: url(./../images/globa.svg);
    background-size: cover;
    vertical-align: middle;
    width: 100%;
    height: 300px;
    margin-top: 10px;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.textc{
    font-family: newf;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 3em;
    color: red;
    justify-content: center;
    align-items: center;
    display: flex;
}


.admin{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -38px;
    z-index: 2;
   
}

.adminpic{
    width: 200px;
    height:200px;
    border-radius: 50%;
    vertical-align: middle;
    position: relative;
    top: -64px;

}

.adminName{
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.name{
    position: relative;
    top: -85px;
}

.maindiv{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.lists{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.activity{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width:1000px) {

    .maindiv{
        flex-direction: column;
    }
   
  
  }
  .socialmidia{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
  }