
@font-face {
    font-family: newf ;
    src: url(./../fonts/MrGrieves-Regular.otf);
}


.loader{

    background-image: url(./../images/intro.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
flex-direction: column;
}


.covidtext{
    display: flex;
    justify-content: center;
    align-items: center;

}

.wait{

    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-family: newf;

}