
/* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */

@font-face {
    font-family: newf;
    src: url(./../fonts/MrGrieves-Regular.otf);
}
.icon-bar {
    position: fixed;
    top: 85%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  /* Style the icon bar links */
  .icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
  }
  
  /* Style the social media icons with color, if you want */
  .icon-bar a:hover {
   
    background-color: orangered;
  }
  
  .facebook {
    background: #000;
    color: white;
  }
  
  /* .twitter {
    background: #55ACEE;
    color: white;
  } */
  
  .google {
    background: #dd4b39;
    color: white;
    /* transition: 2s; */
  }
  
  .linkedin {
    background: #007bb5;
    color: white;
  }


  
  /* .youtube {
    background: #bb0000;
    color: white;
  } */


  /* //footer  */
.foot{
    width: 100%;
    height: 450px;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  
  }
  
  .moreinfo{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    margin: 10px;
  }
  
  .ct {
    color: #dd4b39;
    text-align: center;
    text-decoration: none;
  }
  /* ////////////////  */

  .c{
    color: orangered;
  
  }

  .menyItem{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    /* height: 10; */
    /* height: max-content; */
    /* background-image: url(./../images/designMenu.svg); */
  }
  
  .ctr{
    text-decoration: none;
    color: #dd4b39;
    letter-spacing: 2px;
    font-size: 21px;
    text-align: center;
    margin-top: 15px;
    
  }
  
  .avtaer{
    width: 100%;
    height: 120px;
  }

  .stay {
    color: #dd4b39;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 23px;
  }
  
  .heads{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin: 1px;
    letter-spacing: 2px;
   
  
  }
  .navs{
    position: sticky;
    top: 10px;
    left: 10px;
    margin: 10px 10px;
    font-size: 30px;
    cursor: pointer;
    z-index: 9;
}  

.novel{

    display: flex;
    flex-direction: row;
    margin-left: 0px;
}

.stitle
{
    color: #dd4b39;
    letter-spacing: 2px;
    margin-top: 9px;
    font-family: newf;
}
/* basc */

.casest{
  text-align: center;
  font-family: newf;
}

.form{
  width: 200px;
  display: block;
  /* float: left; */
  margin-left: auto;
  margin-right: auto;
  /* justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 10px; */
  /* z-index: 5; */
}

label {
  text-align: center;
  letter-spacing: 1px;
  margin-left: auto;
  margin-right: auto;
}

.chartCase{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  overflow-x: auto;
}

@media only screen and (max-width:1000px) {

  .chartCase{
      /* flex-direction: column; */
     flex-direction: column;
     overflow-x: auto;
  }
  #myChart{

    width: 300px;
    height: 300px;
  }
 

}


.makTable{
  margin-top: 10px;
  overflow-x: auto;

}
.Table1Body{

  margin-top: 5px;
  

}

thead{
  background: orangered;
  /* color: white; */
}



tr:nth-child(1)
{
  background-color: rgba(255, 99, 132, 0.2);
}


tr:nth-child(2)
{
  background-color: rgba(54, 162, 235, 0.2);
}


tr:nth-child(3)
{
  background: rgba(255, 206, 86, 0.2);
}

tr:nth-child(4)
{
  background: rgba(75, 192, 192, 0.2);
}

tr:nth-child(5)
{
  background: rgba(153, 102, 255, 0.2);
}


